<h1>Eventos Maravillosos</h1>

<ul>
  <% @events.each do |e| %>
    <li>
        <h3> <% e.name %> </h3>
        <h3> <% e.address %> </h3>
        <h3> <% e.description %> </h3>
        <h3> <% e.date %> </h3>
    </li>
  <% end %>
</ul>